<div class="visit-us">
    <div class="location">
        <h3 class="visit-header">Visit Us!</h3>
        <p class="address">
            4257 Main Street
            Philadelphia, PA
            19127
        </p>
    </div>

    <div class="hours-section">
        <h3 class="hours-header">Hours</h3>
        <p class="hours">
            Wed-Fri 12-6
            Saturday 11-6
            Sunday 11-5
        </p>
    </div>

    <div class="visit-buttons">
        <img src="./img/location_white.png" />
        <a class="directions-button" href="https://www.google.com/maps/place/The+Spiral+Bookcase/@40.0248536,-75.2237837,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6b895174ec68f:0x19fad1bb26d1ab7f!8m2!3d40.0248536!4d-75.221595">GET DIRECTIONS</a>
    </div>
</div>