.footer {
    display: flex;
    height: 307px;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    background-color: $snowbank;
    @include md{
        height: 248px;
    }
    @include lg{
        height: 230px;
    }
    @include xl{
        height: 230px;
    }
}

.footer_firstrow{
    display: flex;
    flex-direction: column;
    align-items: left;
    @include md{
        flex-direction: row;
        gap: 64px;
        align-items: center;
    }
    @include lg{
        flex-direction: row;
        gap: 64px;
        align-items: center;
    }
    @include xl{
        flex-direction: row;
        gap: 64px;
        align-items: center;
    }
}

.footer-column-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px 16px 0px;
    gap: 32px;
}

.footer-c1 {
    color: $eerie_black;
    font-size: 16px;
}

.footer-c1-input {
    width: 270px;
    height: 64px;
    border: 1px solid $navy_green;
    border-radius: 8px;
    color: $navy_green;
    background: $snowbank;
    text-align: left;
}

.footer-c1-subscribe {
    width: 100px;
    height: 64px;
    text-align: center;
    color: $white;
    background-color: $navy_green;
    border: 1px solid $navy_green;
    border-radius: 8px;
}

.footer_column_two {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 16px 0px 16px 0px;
    gap: 8px;
}

.footer_link {
    text-decoration: none;
    color: $eerie_black;
    font-size: 16px;
}

.footer-c2-r1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
}

.footer-c2-r2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.social-icon {
    width: 16px;
    height: 16px;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    color: $eerie_black;
    font-size: 8px;
}

.footer_bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 80px;
}