.header {
    background: $white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 123px;
    @include md {
        width: 128px;
    }
    @include lg {
        width: 133px;
    }
    @include xl{
        width: 138px;
    }
}

.header-links{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header_link {
    display: none;
    color: $chestnut_plum;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    @include lg {
        display: flex;
    }
    @include xl {
        display: flex;
    }
}

.header-icons{
    display: flex;
    gap: 16px;
}

.header_search{
    width: 29px;
}

.header_shopping{
    width: 27px;
}

.header_person {
    display: none;
    width: 22px;
    @include md{
        display: flex;
    }
    @include lg{
        display: flex;
    }
    @include xl{
        display: flex;
    }
}

.header_hamburger {
    display: flex;
    width: 27px;
    @include lg{
        display: none;
    }
    @include xl {
        display:none;
    }
}