.new-arrivals-label {
    text-align: center;
    color: $eerie_black;
    font-size: 24px;
    font-weight: 700;
}


/* items */
.items-sm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 360px;
    margin: 0 auto;
    margin-bottom: 16px;
    gap: 16px;

    @include md {
        width: 460px;
        height: 550px;
        order: 9;
        align-self: flex-end;
    }
}

.items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.top-six-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 368px;

    @include md {
        width: 545px;
    }

    @include lg {
        width: 953px;
    }

    @include xl {
        width: 1068px;
    }
}

.bottom-items {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    width: 368px;

    @include md {
        flex-direction: row;
        width: 850px;
    }

    @include lg {
        flex-direction: row;
        width: 953px;
    }

    @include xl {
        flex-direction: row;
        width: 1068px;
    }
}

.item {
    text-align: center;
    align-content: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 171px;
    height: 300px;
    margin: 0 auto;
    margin-top: 16px;

    @include lg {
        width: 304px;
        height: 425px;
    }

    @include xl {
        width: 328px;
        height: 475px;
    }
}

.item-lg-1 {
    justify-content: space-between;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 16px;

    @include md {
        width: 600px;
        height: 750px;
    }

    @include lg {
        width: 664px;
        height: 806px;
    }

    @include xl {
        width: 728px;
        height: 877px;
    }
}

.item-lg-2 {
    justify-content: space-between;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 16px;

    @include md {
        width: 408px;
        height: 525px;
    }
}

.item-sm {
    text-align: center;
    align-content: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 171px;
    height: 300px;
    margin: 0 auto;
    margin-top: 16px;

    @include md {
        width: 100px;
        height: 225px;
    }

    @include lg {
        width: 100px;
        height: 225px;
    }

    @include xl {
        width: 100px;
        height: 225px;
    }
}

/* end items */


/* item labels */
.item-label {
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 171px;
    color: $eerie_black;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
}

.item-label-small {
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 171px;
    color: $eerie_black;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;

    @include md {
        width: 102px;
    }
}

/* end item labels */


/* price */
.item-price {
    text-align: center;
    font-size: 16;
    color: $eerie_black;
}

/* end prices */


/* buttons */
.add-to-cart {
    width: 170px;
    height: 64px;
    border: 1px solid $chestnut_plum;
    border-radius: 8px;
    color: $white;
    background-color: $chestnut_plum;
    text-align: center;
    margin: 0 auto;
}

.add-to-cart-small {
    width: 170px;
    height: 64px;
    border: 1px solid $chestnut_plum;
    border-radius: 8px;
    color: $white;
    background-color: $chestnut_plum;
    text-align: center;

    @include md {
        width: 102px;
        height: 36px;
        font-size: 8px;
    }
}

/* end buttons */

/* images */
.these-great-athenians {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 232px;
    width: 232px;

    @include md {
        height: 550px;
        width: 550px;
    }

    @include lg {
        height: 600px;
        width: 600px;
    }

    @include xl {
        height: 666px;
        width: 666px;
    }
}

.rosie {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 139px;
        width: 139px;
    }

    @include lg {
        height: 257px;
        width: 257px;
    }

    @include xl {
        height: 281px;
        width: 281px;
    }
}

.the-believer {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 139px;
        width: 139px;
    }

    @include lg {
        height: 257px;
        width: 257px;
    }

    @include xl {
        height: 281px;
        width: 281px;
    }
}

.bless-the-daughter {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 139px;
        width: 139px;
    }

    @include lg {
        height: 257px;
        width: 257px;
    }

    @include xl {
        height: 281px;
        width: 281px;
    }
}

.groundskeeping {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 139px;
        width: 139px;
    }

    @include lg {
        height: 257px;
        width: 257px;
    }

    @include xl {
        height: 281px;
        width: 281px;
    }
}

.a-thousand-steps {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 139px;
        width: 139px;
    }

    @include lg {
        height: 257px;
        width: 257px;
    }

    @include xl {
        height: 281px;
        width: 281px;
    }
}

.the-atlas-six {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 139px;
        width: 139px;
    }

    @include lg {
        height: 257px;
        width: 257px;
    }

    @include xl {
        height: 281px;
        width: 281px;
    }
}

.the-invisible-kingdom {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 232px;
    width: 232px;

    @include md {
        height: 361px;
        width: 361px;
    }
}

.cold-clay {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 80px;
        width: 80px;
    }

    @include lg {
        height: 80px;
        width: 80px;
    }

    @include xl {
        height: 80px;
        width: 80px;
    }
}

.fairy-house {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 80px;
        width: 80px;
    }

    @include lg {
        height: 80px;
        width: 80px;
    }

    @include xl {
        height: 80px;
        width: 80px;
    }
}

.obsidian-bust {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 80px;
        width: 80px;
    }

    @include lg {
        height: 80px;
        width: 80px;
    }

    @include xl {
        height: 80px;
        width: 80px;
    }
}

.lemon-verbena-candle {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 80px;
        width: 80px;
    }

    @include lg {
        height: 80px;
        width: 80px;
    }

    @include xl {
        height: 80px;
        width: 80px;
    }
}

.selenite-star {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 80px;
        width: 80px;
    }

    @include lg {
        height: 80px;
        width: 80px;
    }

    @include xl {
        height: 80px;
        width: 80px;
    }
}

.acorn-crystals {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 80px;
        width: 80px;
    }

    @include lg {
        height: 80px;
        width: 80px;
    }

    @include xl {
        height: 80px;
        width: 80px;
    }
}

.spell-candle {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 80px;
        width: 80px;
    }

    @include lg {
        height: 80px;
        width: 80px;
    }

    @include xl {
        height: 80px;
        width: 80px;
    }
}

.magic-garden-candle {
    background: $floral_white;
    padding: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
    height: 144px;
    width: 144px;

    @include md {
        height: 80px;
        width: 80px;
    }

    @include lg {
        height: 80px;
        width: 80px;
    }

    @include xl {
        height: 80px;
        width: 80px;
    }
}